EXPO_PUBLIC_SUPABASE_URL=https://htmiqjncprqczgqwrdpb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0bWlxam5jcHJxY3pncXdyZHBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1MTEwMzksImV4cCI6MjA4MDA4NzAzOX0.LXk0iFzSNbxO4mccUb1vTlimVnMRtklQDVtikWNhNjQ
